body {
  background-image: url("../img/field.jpeg");
  color: #1C2833;
  margin-bottom: 25px;
  margin-top: 25px;
}

.jumbotron {
  text-align: center;
  background: rgba(128, 255, 84, 0.7);
}

#blanks {
  text-align: center;
}

#rules {
  font-size: 16px;
  background: rgba(128, 255, 84, 0.7);
  border-radius: 6px;
  padding: 10px;
}

#display-results {
  display: none;
  margin: 10px;
}

#results-list {
  margin: auto;
}

#number-input {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

#author {
  border: solid 2px;
  border-radius: 6px;
  padding: 4px;
  margin-top: 5px;
  float: right;
  color: white;
}
